* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #fff;
	background-color: hsl(233, 47%, 7%);
}
.card_text {
	font-family: 'Lexend Deca';
	font-size: 15px;
	font-weight: 400;
	text-align: left;
}
.card_accent {
	color: hsl(277, 64%, 61%);
}
main {
	margin: 250px;

	border-radius: 5px;
	width: 1080px;
	height: 445px;
	/* margin: 30px; */
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(244, 38%, 16%);
}
/* .card {
	margin: 250px;
	display: flex;
	justify-content: center;
	padding: 0;
 align-items: center;
} */
h1.title {
	font-family: 'Lexend Deca';
	font-weight: 700;
	font-size: 36px;
	margin-left: 80px;
	margin-top: 50px;
}
.stat_card {
	margin-top: 70px;
	/* padding: 50px 5px; */
	margin-left: 80px;
	margin-right: 130px;
	display: flex;
	align-items: left;
	justify-content: space-between;
}
.stats {
	/* text-align: center; */
	font-size: 16px;
	justify-content: center;
	align-items: center;

	/* margin-left: 50px; */
}
h3 {
	font-family: 'Lexend Deca';
	text-transform: uppercase;

	font-size: 13px;
	color: hsla(0, 0%, 100%, 0.75);
	/* text-align: left; */
	font-weight: 300;
	padding-top: 10px;
}
h2 {
	font-family: 'Inter';

	font-weight: 700;
}
.text {
	margin-top: 40px;
	/* margin-left: 70px; */
	/* margin-right: 0; */
	width: 100%;
	height: 100%;
}
.card_text {
	font-family: 'Inter';
	font-weight: 400;
	font: size 16px;
	color: hsla(0, 0%, 100%, 0.75);

	margin-left: 80px;
	margin-right: 100px;
}

.title {
	margin-left: 150px;
	margin-bottom: 30px;
}

.image {
	background-image: linear-gradient(to top, hsl(277, 64%, 61%) 0%, hsl(277, 64%, 61%) 100%),
		url('/images/image-header-desktop.jpg');

	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	width: 100%;
	height: 100%;
	border-radius: 0 5px 5px 0;
}
