* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body {
	background-image: url('/Order_Summary_Component/images/pattern-background-desktop.svg');
	background-color: hsl(225, 100%, 98%);
	background-repeat: no-repeat;
	font-family: 'Red Hat Display', sans-serif;
	padding: 80px;
}
h2 {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 24px;
	margin-top: 45px;
	font-weight: 900;
}
.container {
	width: 440px;
	height: auto;
	margin: auto;
	padding: 0;
	border-radius: 15px;
	background-color: #fff;
	text-justify: center;
	box-shadow: 5px 5px 15px #717fa6;
}
.text {
	width: 300px;
	margin: 25px;
	color: #333;
	align-items: center;
	text-align: center;
	font-size: 16px;
	color: #717fa6;
}
.plan {
	width: 350px;
	height: 90px;
	font-family: 'Red Hat Display', sans-serif;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 15px;
	background-color: #f7f9ff;
}
button.btn-payment {
	font-family: 'Red Hat Display', sans-serif;
	box-shadow: 5px 5px 15px grey;
}
.btn-payment {
	font-size: 16px;
	font-weight: 700;
	border: none;
	width: 350px;
	height: 60px;
	border-radius: 15px;
	margin: 15 5px;
	padding: 5px;
	color: #fff;
	background-color: #382ae1;
}
.cancel {
	font-weight: 900;
	margin-top: 30px;
	margin-bottom: 40px;
	color: #717fa6;
}
.change {
	margin-top: 10px;
	color: #698dff;
	text-decoration: none;
}

.container img {
	/* width: 100%; */
	/* height: 100%; */
	object-position: relative;
	object-fit: cover;
	border-radius: 15px 15px 0 0px;
}
.header {
	color: #1f2e55;
	font-weight: 900;
}
.cost {
	color: #717fa6;
}
